<br/>
<div class="jumbotronIndex">
<div class="container well col-sm-6 col-sm-offset-3" style="padding-top: 4%;" >

    <h1 style="text-align:center; color: rgba(244, 208, 63, 1.0);">Enter your Info</h1>
    <br/>
    <input class="form-control" placeholder="Username..." ng-model="user.username" />
    <br/>
    <input class="form-control" placeholder="Password" type="password" ng-model="user.password" />
    <br/>
    <div>
        <button class="btn btn-warning" ng-click="login()">Submit</button>
    </div>
    <br/>
    <div style="text-align:center">
        <a href="#/Register" class="btn btn-primary">Create Account</a>
    </div>
</div>
</div>