<br/>
<div class="jumbotron">
    <div class="container well col-sm-6 col-sm-offset-3">

        <h1 style="text-align:center; color: rgba(244, 208, 63, 1.0);">REGISTRATION</h1>
        <br />
        <input placeholder="Your Name" class="form-control" ng-model="user.name" />
        <br />
        <input placeholder="Your Last Name" class="form-control" ng-model="user.lastName" />
        <br />
        <input placeholder="Your Username" class="form-control" ng-model="user.username" />
        <br />
        <input placeholder="Your Email" class="form-control" ng-model="user.email" />
        <br />
        <input placeholder="Your Password" class="form-control" ng-model="user.password" />
        <br />
        <button class="btn btn-warning" ng-click="register()">Submit</button>

    </div>
</div>