<div ng-controller="SingleTripController">
    <div id="body">
        <div style="margin-top: 10%" id="mottoBox">
            Nav buttons for Map will go here
        </div><br />
        <!--This map is inside "UserTripsController" still needs to be updated for showing specific destination as well as road directions-->
        <div id="googleMapViewTrip" class="centerBox" style="width:100%;height:380px;"></div>
        <div id="mottoBox" class="well-lg" style="margin-top: 10%">The MessageBoard/Chatbox will go here</div>
    </div>
</div>
